<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Shieet</title>
</head>
<body>
    {{> header}}
    <p>Some text muthafuckka</p>
    <p>{{ string}}</p>
    {{> footer}}
</body>

</html>